@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Réinitialisation de base */
body, h1, h2, h3, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Style général du corps de la page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins';
    background: linear-gradient(to right, #EF4765, rgb(255, 154, 147)); /* Dégradé étendu sur toute la largeur */
    overflow-x: hidden; /* Empêcher le défilement horizontal */
}

main {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 20px; /* Ajouter de l'espace en haut */
    margin-bottom: 20px; /* Ajouter de l'espace en bas */
}

/* Style des sections */
#profil, #recentProfiles, #placeholder {
    padding: 10px;
    flex: 1; /* Toutes les sections occupent autant d'espace que possible */
    color: aliceblue; /* Changement de couleur du texte */
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin: 10px; /* Ajouter de l'espace entre les sections */
}

#profil {
    width: 25%;
    overflow-y: auto; /* Rendre la section scrollable */
    max-height: calc(100vh - 40px); /* Ajuster la hauteur maximale pour tenir compte des marges */
}

#profil img {
    margin: 10px auto;
    width: 200px;
    height: 200px;
}

#publicSection, #privateSection {
    margin-bottom: 20px;
}

#recentProfiles {
    width: 50%;
}

#recentProfilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    max-height: calc(100vh - 100px); /* Ajuster en fonction de la taille du header et du footer */
}

.profile-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(45% - 20px); /* Ajuster la largeur pour occuper environ la moitié de la section parente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; /* Ajouter un fond blanc pour contraste */
    color: #333; /* Couleur du texte */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet de survol */
}

.profile-box:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.profile-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Image de profil ronde */
    margin-bottom: 10px;
}

.profile-box strong {
    display: block;
    margin-top: 5px;
}

#placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder p {
    text-align: center;
    color: #666;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    color: lightgray;
    background-color: rgb(10, 24, 29);
    width: 100%;
    margin-top: 20px; /* Ajouter de l'espace en haut */
}

/* Styles pour les formulaires de la section profil */
#profil label {
    font-size: 1.2em; /* Augmenter la taille du texte des labels */
    display: block; /* S'assurer que les labels sont des blocs pour un bon alignement */
    margin-bottom: 5px; /* Ajouter un espace en bas des labels */
}

#profil input, #profil textarea {
    font-size: 1.1em; /* Augmenter la taille du texte des inputs et des textareas */
    width: calc(100% - 20px); /* Prendre toute la largeur moins les marges */
    padding: 10px; /* Ajouter un padding pour une meilleure lisibilité */
    margin-bottom: 10px; /* Ajouter un espace en bas des inputs */
    border: 1px solid #ccc; /* Ajouter une bordure pour les inputs */
    border-radius: 5px; /* Arrondir les coins des inputs */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

#profil input:disabled, #profil textarea:disabled {
    color: aliceblue; /* Changer la couleur du texte */
}

/* S'assurer que les formulaires prennent toute la largeur disponible */
#publicForm, #privateForm {
    display: flex;
    flex-direction: column; /* Afficher les enfants en colonne */
    align-items: flex-start; /* Aligner les enfants à gauche */
}

/* Style des boutons */
#profil input[type="button"], #profil input[type="submit"], #profil button {
    font-size: 1em;
    padding: 10px 20px; /* Ajouter un padding pour les boutons */
    background-color: #EF4765; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Enlever la bordure par défaut */
    border-radius: 5px; /* Arrondir les coins */
    cursor: pointer; /* Curseur en forme de main pour les boutons */
    margin-top: 10px; /* Ajouter un espace en haut des boutons */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

#profil input[type="button"]:hover, #profil input[type="submit"]:hover, #profil button:hover {
    background-color: #D43F4B; /* Couleur de fond au survol */
}

/* Styles pour le champ de recherche */
#recentProfiles form {
    margin-bottom: 20px; /* Ajouter un espace en bas du formulaire de recherche */
    display: flex;
    justify-content: center; /* Centrer le formulaire */
}

#recentProfiles input[type="text"] {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Espacer le champ de texte du bouton */
}

#recentProfiles input[type="submit"] {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #EF4765;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#recentProfiles input[type="submit"]:hover {
    background-color: #D43F4B;
}

#placeholder {
    padding: 10px;
    flex: 1;
    color: aliceblue;
    border: solid 5px aliceblue;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#placeholder h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#placeholder p {
    text-align: center;
    color: #666;
    padding: 10px;
}

/* Formulaire d'abonnement */
#subscriptionForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#subscriptionForm label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#subscriptionForm input[type="radio"] {
    margin-right: 10px;
}

#subscriptionForm input[type="submit"] {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #EF4765;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#subscriptionForm input[type="submit"]:hover {
    background-color: #D43F4B;
}

/* Message de bienvenue pour les abonnés */
#placeholder p {
    font-size: 1.2em;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

#placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: aliceblue;
    border: 5px solid aliceblue;
    border-radius: 20px;
}

.subscription-message {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centre l'élément horizontalement */
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    width: 100%; /* S'assure que l'élément prend toute la largeur disponible */
}

#subscriptionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Prendre toute la largeur disponible */
}

.subscription-option {
    margin: 10px 0; /* Ajouter de l'espace entre les options */
    display: flex;
    align-items: center;
}

.subscription-option input[type="radio"] {
    margin-right: 10px; /* Ajouter de l'espace entre le bouton radio et le label */
    transform: scale(1.2); /* Agrandir les boutons radio */
    accent-color: #EF4765; /* Changer la couleur des boutons radio */
}

#subscriptionForm input[type="submit"] {
    font-size: 1.2em; /* Augmenter la taille du texte */
    padding: 10px 30px; /* Ajouter un padding pour les boutons */
    background-color: #EF4765; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Enlever la bordure par défaut */
    border-radius: 5px; /* Arrondir les coins */
    cursor: pointer; /* Curseur en forme de main pour les boutons */
    margin-top: 20px; /* Ajouter un espace en haut des boutons */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

#subscriptionForm input[type="submit"]:hover {
    background-color: #D43F4B; /* Couleur de fond au survol */
}

/* Styles pour la section de messagerie privée */
#conv-starter h2,
#conversations h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#conv-starter,
#conversations,
#sendMessage {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

#conv-starter input[type="text"],
#sendMessage input[type="email"],
#sendMessage textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#conv-starter input[type="submit"],
#sendMessage input[type="submit"] {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #EF4765;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#conv-starter input[type="submit"]:hover,
#sendMessage input[type="submit"]:hover {
    background-color: #D43F4B;
}

#conversations .conversations-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conversations p {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    width: 100%; /* Prendre toute la largeur disponible */
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    color: aliceblue; /* Couleur du texte */
    font-size: 1.2em; /* Taille du texte */
    padding: 20px; /* Padding pour l'espacement intérieur */
    background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
    border-radius: 10px; /* Coins arrondis */
}