@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';

}

header {
    height: 18vh;
    width: 100vw;
    background-color: rgb(255, 154, 147);
    background-size: cover;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px;
    height: auto;
    margin-right: 15px;
}

.navbar {
    position: absolute;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.navbar a {
    color: aliceblue;
    font-size: larger;
    font-weight: 600;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bolder;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 30px;
    font-size: larger;
}